.container {
    margin: 6rem;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    min-height: calc(100vh - 12rem);
}
// .flex{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .grid {
//     display: grid;
// }
// .textCenter {
//     text-align: center;
// }
